    #cabecera {
        border-bottom: 1px solid black;
        margin-left: 35px;
        margin-right: 35px;
        h2 {
            text-align: center;
            color: #666666;
        }
        p {
            text-align: center;
            position: relative;
            bottom: 13px;
            color: #666666;
        }
    }